.section__about {
    background-color: $grey-bg;
    display: flex;
    justify-content: space-between;

    .about__wrapper {
        width: 55%;
        display: flex;
        justify-content: center;
        align-content: center;
    
        .about__text {
            text-align: center;
            width: 70%;
            margin-top: 140px;
            font-family: $font-base;
            color: $primary-font-color;
        
            .about__header {
                font-size: 38px;
                font-weight: normal;
            }
        
            .about__paragraph {
                font-size: 30px;
                font-weight: normal;
                margin-bottom: 30px;
            }

            .signature {
                position: relative;
                left: 150px;
                margin-bottom: 140px;
            }
        }
    }

    .about__img-wrapper {
        width: 45%;
        background-image: url("../../assets/People.jpg");
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
    }
}





