.section__desc {
    height: 380px;
    background-image: url('../../assets/Columns-Background.png');
    display: flex;
    align-items: center;
}

.section__three-columns {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .description__column {
        width: 334px;
        height: 252px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;

        .column__header {
            font-size: 90px;
            font-family: $font-base;
            font-weight: 300;
            color: $large-num-font-color;
        }

        .column__subheader {
            margin-top: 10px;
            font-size: 18px;
            font-family: $font-base;
            font-weight: 400;
            color: $primary-font-color;
            letter-spacing: -0.36px;
            text-transform: uppercase;
        }

        .column__text {
            margin-top: 28px;
            font-size: 16px;
            font-family: $font-alt;
            font-weight: 300;
            color: $primary-font-color;
            letter-spacing: -0.32px;
            line-height: 18px;
        }
    }
}