.section__orgs {
    text-align: center;

    .container {
        flex-direction: column;
    }

    .orgs__header {
        font-family: $font-base;
        color: $primary-font-color;
        font-size: 38px;
        font-weight: 400;
        margin-top: 70px;
    }

    .decoration {
        width: 253px;
        align-self: center;
    }

    .orgs_btns-wrapper {
        align-items: center;
        margin-bottom: 70px;
    }
    
    .orgs__btn {
        cursor: pointer;
        background: none;
        width: 208px;
        height: 79px;
        border: 0.75px solid $primary-font-color;
        line-height: 79px;
        text-align: center;
        font-family: $font-base;
        color: $primary-font-color;
        font-size: 24px;
        margin: 0 30px;
    }
    
    .orgs__text {
        display: flex;
        justify-content: center;
    }
    
    .orgs__text-paragraph {
        width: 500px;
        font-size: 22px;
        font-family: $font-base;
        color: $primary-font-color;
        margin-bottom: 65px;
    }
    
    .orgs__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .org__item {
        width: 100%;
        border-bottom: 1px solid $primary-font-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 34px;
    }
    
    .org__headers {
        text-align: left;
    }

    .org__header {
        font-size: 26px;
        font-family: $font-alt;
        font-weight: 300;
        color: $primary-font-color;
    }

    .org__subheader {
        font-size: 18px;
        font-family: $font-alt;
        font-weight: 300;
        color: $primary-font-color;
        margin-bottom: 30px;
    }

    .org__desc {
        font-size: 18px;
        font-family: $font-alt;
        font-weight: 300;
        color: $primary-font-color;
        align-self: flex-end;
        margin-bottom: 30px;
    }
}

