.register {
    margin: 50px auto;
    text-align: center;
    font-family: $font-base;
    color: $primary-font-color;

    .register__header {
        font-size: 38px;
        font-weight: normal;
    }

    .register-box {
        width: 385px;
        background-color: #F0F1F1;
    }

    .register__error-msg {
        margin-bottom: 10px;
        color: $error-color;
        font-size: 16px;
    }
    
    .register-form {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .register-form__label {
            display: block;
            margin: 0 auto;
            width: 250px;
            height: 16px;
            font-size: 16px;
            font-weight: 600;
            text-align: left;
            border: 0;
            margin-top: 30px;
            font-size: 16px;
        }

        .register-form__input {
            display: block;
            margin: 0 auto;
            width: 250px;
            border: 0;
            border-bottom: 1px solid $secondary-font-color; 
            background: none;
            margin-top: 12px;
            font-size: 16px;
        }

        .register-form__input:last-of-type {
            margin-bottom: 30px;
        }

        .register-form__input--focused:focus {
            outline: 0;
            border-bottom: 2px solid $primary-font-color; 
        }

        .btn-wrapper {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            .register-form__btn {
                width: 115px;
                height: 50px;
                font-size: 18px;
                font-family: $font-base;
                color: black;
                text-decoration: none;
                border: 1px solid $primary-font-color;
                background: none;
                cursor: pointer;
                outline: none;
            }

            .register-form__login-link {
                display: block;
                font-size: 18px;
                line-height: 50px;
                color: black;
                text-decoration: none;
            }
        } 
    }
}