.steps__bar {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.steps__btn-wrapper {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 80px;
}

.steps__header {
    text-align: center;
    margin: 40px 0;

    .header__text {
        font-family: $font-base;
        font-size: 38px;
        font-weight: normal;
        color: $primary-font-color;
    }
}

.steps__simple-steps {
    height: 325px;
    background-color: $grey-bg;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.steps__step {
    width: 130px;
    height: 170px;
    margin: 30px;
    text-align: center;
    font-family: $font-base;
}

.step__icon {
    height: 83px;
    width: 83px;
}

.step__header {
    font-size: 18px;
    font-weight: normal;
    color: $primary-font-color;
}

.step__text {
    font-size: 16px;
    color: $primary-font-color;
}

.decoration-line {
    border: 1px solid $decor-line-grey;
    width: 70px;
    margin: 10px auto;
}

.steps__link {
    font-size: 36px;
    text-decoration: none;
    color: $primary-font-color;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__button {
    cursor: pointer;
    background: none;
    width: 310px;
    height: 120px;
    line-height: 45px;
    border: 0.75px solid $primary-font-color;
    padding: 13px 93px;
}

.decoration {
    margin-top: 25px;
    margin-bottom: 35px;
}

