.donate-form__stepSummary {
    width: 100%;

        .container {
            flex-direction: column;
            justify-content: center;
            height: 100%;

        }

    .donate-form__form-wrapper {
        background-image: url('../../assets/Background-Form.png');
        background-size: cover;
        background-position: right;

        .container {
            flex-direction: column;
        }

        .donate-form__header {
            margin-top: 70px;
            font-size: 36px;
        }

        .donate-form__subheader {
            margin-top: 50px;
            font-size: 24px;
        }

        .donate-form__item {
            margin-top: 20px;
            width: 392px;
            //height: 40px;
            display: flex;
            align-items: center;

            .donate-form__icon {
                height: 50px;
                width: 50px;
                margin-right: 20px;
            }

            .donate-form__donationSpecs {
                font-size: 24px;
                color: black;
            }
        }

        .donate-form__row {
            display: flex;
            justify-content: space-between;
            width: 936px;
        }

        .donate-form__deliveryData {
            width: 130px;
            margin-right: 5px;
            font-size: 24px;
            color: black;
        }

        .donate-form__btn {
            margin: 215px 50px 50px 0;
            width: 180px;
            height: 80px;
            font-size: 24px;
            border: 0.75px solid $primary-font-color;
        }
    }
}