@import 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';
@import 'https://fonts.googleapis.com/css?family=Merriweather';

$font-base: 'Open Sans', sans-serif;
$font-base-light: 'Open Sans Light', 'sans-serif';
$font-alt: 'Merriweather', sans-serif;