* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
}

section {
  height: 400px;
}

#start {
  display: flex;
}

.img-wrapper {
  background-image: url('./assets/Home-Hero-Image.jpg');
  width: 50%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

